*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python & Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDE & Artifacts
.artifacts/
.idea/

